github-private-key
maven-command
pipeline-logical-microservice/params-coll-evolutivo-id20.yml
pipeline-logical-microservice/params-coll-consolidato-id20.yml
pipeline-physical-microservice/params-snapshoot.yml
pipeline-physical-microservice/params-build.yml
settings.xml
concourse/keys/
nexus
